//**************************************************
// MESSAGE
//**************************************************/
.message {
    $message-section-height: 24rem;
    
    &__series-logo {
        height: $message-section-height !important;
        
        .series-logo {
            max-height: 90%;
        }
    }

    &__info {
        height: $message-section-height !important;

        a {
            color: currentColor;
        }
    }

    &__title {
        @include typecsset-font-size($secondary-headline-size);
        font-weight: bold;
    }

    &__details {
    }

    &__cta {
        //text-align: center;

        //display: inline-block;
    }
}