.campus-select {
    height: 2em;
    
    background-color: $blue;
    
    &__options {
        text-align: center !important;
        
        height: 100%;
        
        @include font-size(14px);
        color: #FFF;
    }
}

.banner {
    height: 4em;
    
    background-color: $dark-blue;

    &__logo {
        height: 100%;
    }

    &__menu {
        height: 100%;
    }
}

.menu {
    height: 100%;
    
    &__item {
        height: 100%;

        color: #FFF;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
    }
}

.logo {
    height: 85%;
}

.notifications {
    background-color: $green;
    
    &__item {
        height: 3em;
        
        color: #FFF;
        text-align: center;
    }
}