.body {
}

.content-section {
    margin-bottom: $vertical-padding;
    
    &--noBottomBuffer {
        margin-bottom: inherit;
    }
}

.content-wrapper {
    box-sizing: border-box;
    height: 100%;
    
    padding: $vertical-padding ($magic-number*2);
    
    @include grid-media-query("portable") {
        padding: $vertical-padding $mobile-padding;
    }
    
    &.no-vertical {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    &.no-mobile {
        @include grid-media-query("portable") {
            padding: 0;
        }
    }
    
    &--mobile {
        box-sizing: border-box;
        height: 100%;
        
        @include grid-media-query("portable") {
            padding: $vertical-padding $mobile-padding;
        }
        
        &.no-vertical {
            @extend .content-wrapper.no-vertical;
        }
    }
}

.header-image {
    color: #FFF; //rgb(0,0,255);
    
    min-height: 66vh;
    
    &__title {
        @include typecsset-font-size($primary-headline-size);
        //@include font-size($primary-headline-size, "em");
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        
        margin: 0 0 3rem 0;
    }
    
    &__copy {
        margin: 0 auto 3rem auto;
        
        text-align: center;
        
        @include grid-media-query("desk") {
            width: 50%;
        }
    }
    
    &__cta {
        @include grid-media-query("portable") {
            & > * {
                margin-bottom: $magic-number;
            }

            & div:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    &__cta1,
    &__cta2 {
    }
}

.search {
    color: $black;
    text-align: center;
    
    &__title {
        @include typecsset-font-size($secondary-headline-size);
        //@include font-size($secondary-headline-size, "em");
        font-weight: bold;
        
        //margin: 0 0 .5rem 0;
    }
    
    &__keywords {
        margin: 0 0 1.5rem 0;
    }
    
    &__controls {
        height: 3em;
    }
}

.campusInfo {
    &__item {
        position: relative;
        
        background: $medium-gray center bottom/cover no-repeat scroll;
        
        height: 15em;
    }
    
    &__cta {
        position: relative;
        top: 11em;
        
        height: auto;
        width: 100%;
    }
}

.message {
    $message-section-height: 19rem;
    
    background-attachment: fixed;
    
    @include grid-media-query("palm") {
        background-attachment: scroll;
    }
    
    &__series-logo {
        height: $message-section-height;
        
        .series-logo {
            max-height: 90%;
        }
    }
    
    &__info {
        height: $message-section-height;
        
        color: #FFF;
        
        &.dark {
            color: $charcoal;
        }
        
        @include grid-media-query("palm") {
            margin-bottom: $vertical-padding;
        
            height: auto;
                        
            & > div {
                align-items: center !important;
            }
        }
    }
    
    &__title {
        @include typecsset-font-size($secondary-headline-size);
        //@include font-size($secondary-headline-size, "em");
        font-weight: bold;
    }
    
    &__details {
        margin-bottom: $vertical-padding;
    }
    
    &__cta {
        text-align: center;
        display: inline-block;
    }
}

.events {
    text-align: center;

    &__title {
        @include typecsset-font-size($secondary-headline-size);
        //@include font-size($secondary-headline-size, "em");
        font-weight: bold;

        //margin: 0 0 .5rem 0;
    }

    &__keywords {
        margin: 0 0 1.5rem 0;
    }
    
    &__1,
    &__2,
    &__3 {
        @include grid-media-query("portable") {
            margin-bottom: $magic-number;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    &__image {
        background: $medium-gray center bottom/cover no-repeat scroll;

        height: 18em;
    }
    
    &__details {
        //position: relative;
        //margin: -2em auto 0 auto;
        background: $light-gray;
        box-sizing: border-box;
        padding: 1em 0;
        
        border-bottom: 2px solid $dark-blue;
        
        min-height: 3rem;
        
        color: $black; //rgb(244,164,96);
    }
    
    &__cta {
        .cta {
            //color: rgb(139,69,19);
        }
    }
}