/* line 1, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
.body {
  color: midnightblue; }

/* line 5, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
.header-image {
  padding-top: 3em;
  padding-bottom: 3em;
  color: blue; }
  /* line 11, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
  .header-image__title {
    margin: 0 0 3em 0;
    height: 4em;
    color: skyblue; }
  /* line 18, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
  .header-image__copy {
    margin: 0 0 3em 0;
    height: 5em;
    color: skyblue; }
  /* line 25, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
  .header-image__cta {
    color: skyblue; }
  /* line 32, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
  .header-image__cta1,
  .header-image__cta2 {
    height: 3em;
    color: skyblue; }

/* line 39, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
.search {
  padding-top: 3em;
  padding-bottom: 3em;
  color: orange; }
  /* line 45, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
  .search__keywords {
    height: 3em;
    color: orangered; }
  /* line 50, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
  .search__controls {
    height: 3em;
    color: orangered; }

/* line 56, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
.message {
  color: indigo; }
  /* line 59, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
  .message__series-logo {
    color: mediumorchid;
    height: 6em; }
  /* line 65, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
  .message__info {
    color: mediumorchid;
    height: 6em; }

/* line 72, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
.events {
  color: saddlebrown; }
  /* line 77, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
  .events__1,
  .events__2,
  .events__3 {
    color: sandybrown; }
  /* line 81, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
  .events__image {
    height: 9em; }
  /* line 85, C:/Users/eric.rovtar/OneDrive - Christ Community Chapel/Communications/Web/Sites/CCChapel 2016/Wireframe/styles/sass/ui/body.scss */
  .events__details {
    position: relative;
    margin: -2em auto 0 auto;
    height: 4em;
    color: #FFF; }

/*# sourceMappingURL=body.css.map */