//Body
.body {
    @include grid-media-query("desk") {
        //Adjust for Desk Sticky Menu
        //padding-top: 6em;
    }
}

//Container
.content-section {
    margin-bottom: $vertical-padding;
    
    &--noBottomBuffer,
    &.no-bottom-margin {
        margin-bottom: inherit;
    }
    
    &.light-blue {
        background: $light-blue;
        color: #FFF;
    }
    
    &.light-gray {
        background: $light-gray;
    }
}

.content-wrapper {
    box-sizing: border-box;
    height: 100%;
    
    padding: $vertical-padding ($magic-number*2);
    
    @include grid-media-query("portable") {
        padding: $vertical-padding $mobile-padding;
        
        overflow-x: hidden;
    }
    
    &.no-vertical {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    &.no-mobile {
        @include grid-media-query("portable") {
            padding: 0;
        }
    }
    
    &--mobile {
        box-sizing: border-box;
        height: 100%;
        
        @include grid-media-query("portable") {
            padding: $vertical-padding $mobile-padding;
        }
        
        &.no-vertical {
            @extend .content-wrapper.no-vertical;
        }
    }
}

//Header Image
.header-image {
    color: #FFF;
    
    min-height: 66vh;
    
    &__title {
        @include typecsset-font-size($primary-headline-size);
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        
        margin: 0 0 $bottom-margin 0;
    }
    
    &__copy {
        margin: 0 auto $bottom-margin auto;
        
        text-align: center;
        
        @include grid-media-query("desk") {
            width: 50%;
        }
    }
    
    &__cta {
        @include grid-media-query("portable") {
            & > * {
                margin-bottom: $magic-number;
            }

            & div:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    &__cta1,
    &__cta2 {
    }
}

//Search
.search {
    color: $black;
    text-align: center;
    
    &__title {
        @include typecsset-font-size($secondary-headline-size);
        font-weight: bold;
    }
    
    &__keywords {
        margin: 0 0 1.5rem 0;
    }
    
    &__controls {
        height: 3em;
    }
}

//Campus Info
.campusInfo {
    text-align: left;
    
    &__title {
        @include typecsset-font-size(48px); //$primary-headline-size);
        font-weight: bold;
        text-transform: uppercase;
        
        margin: 0 0 $bottom-margin 0;
    }
    
    &__instructions {
        @include grid-media-query("portable") {
            margin: 0 0 $bottom-margin 0;
        }
    }
    
    &__campus {
        margin: 0 0 $bottom-margin 0;
        
        @include grid-media-query("desk") {
            &:nth-last-child(1),
            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
    }
    
    &__name {
        font-weight: bold;
    }
    
    &__image {
        background: $medium-gray center bottom/cover no-repeat scroll;

        height: 6em;
        width: 100%;
    }
    
//    &__item {
//        position: relative;
//        
//        background: $medium-gray center bottom/cover no-repeat scroll;
//        
//        height: 15em;
//    }
//    
//    &__cta {
//        position: relative;
//        top: 11em;
//        
//        height: auto;
//        width: 100%;
//    }
}

//Message
.message {
    $message-section-height: 24rem;
    
    background-attachment: fixed;
    
    @include grid-media-query("palm") {
        background-attachment: scroll;
    }
    
    &__series-logo {
        height: $message-section-height;
        
        .series-logo {
            max-height: 90%;
        }
    }
    
    &__info {
        height: $message-section-height;
        
        color: #FFF;
        
        &.dark {
            color: $charcoal;
        }
        
        @include grid-media-query("palm") {
            margin-bottom: $vertical-padding;
        
            height: auto;
                        
            & > div {
                align-items: center !important;
            }
        }
    }
    
    &__title {
        @include typecsset-font-size($secondary-headline-size);
        font-weight: bold;
    }
    
    &__details {
        margin-bottom: $vertical-padding;
    }
    
    &__cta {
        text-align: center;
        display: inline-block;
    }
}

//Events
.events {
    &__title {
        @include typecsset-font-size($secondary-headline-size);
        font-weight: bold;
        
        text-align: center;
    }

    &__keywords {
        margin: 0 0 1.5rem 0;
        
        text-align: center;
    }
    
    &__1,
    &__2,
    &__3 {
        margin-bottom: $magic-number;
    }
    
    &__image {
        background: $medium-gray center bottom/cover no-repeat scroll;

        margin-bottom: 1em;
        
        height: 10em;
    }
    
    &__name {
        @include typecsset-font-size($tertiary-headline-size);
        font-weight: bold;
    }
    
    &__details {
        color: $black;
    }
    
    &__cta {
        .cta {
        }
    }
}