//**************************************************
// EVENTS
//**************************************************/
.events {
    &__title {
//        @include typecsset-font-size($secondary-headline-size);
//        font-weight: bold;
//        
//        text-align: center;
    }

    &__keywords {
        margin: 0 0 1.5rem 0;
        
        text-align: center;
    }
    
    &__cta {
        .cta {
        }
    }
}

.event {
    margin-bottom: $magic-number;
    
    a {
        color: currentColor;
    }

    &__image {
        background: $medium-gray center bottom/cover no-repeat scroll;

        margin-bottom: 1em;

        height: 10em;
        
        @include grid-media-query("lap") {
            height: 20em;
        }
    }

    &__name {
        @include typecsset-font-size($tertiary-headline-size);
        font-weight: bold;
    }

    &__details {
        font-weight: normal !important;

        @include grid-media-query("portable") {
            border-bottom: $dark-blue 1pt solid;
            padding-bottom: $magic-number;

            .event:last-child & {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
}

//**************************************************
// EVENT DETAILS
//**************************************************/
.event-details {
    &__image {
        background: $medium-gray center bottom/cover no-repeat scroll;

        margin-bottom: $magic-number;

        height: 10em;

        @include grid-media-query("lap") {
            height: 20em;
        }
    }
    
    &__cta {
        margin-bottom: $magic-number;
    }
    
    &__social {
        margin-bottom: $magic-number;
        
        text-align: center;
    }
    
    &__name {
        //.header-image__title
        @include typecsset-font-size($primary-headline-size);
        font-weight: bold;
        //text-align: center;
        text-transform: uppercase;
        margin-left: -#{(1/16)}em;
    }
    
    &__date,
    &__time {
        @include typecsset-font-size($tertiary-headline-size);
        font-weight: bold;
    }
    
    &__location {
        
    }
    
    &__map {
        display: none;
        
        height: (15 * $magic-number);
        width: 100%;
    }
}

//.calendar-marker {
//    float: left;
//    margin: .25em 1rem 0 0;
//    
//    border: 2px solid currentColor;
//    border-radius: $border-radius;
//
//    height: 5rem;
//    width: 6rem;
//    
//    @include typecsset-font-size($quaternary-headline-size, false);
//    line-height: 100%;
//    font-weight: bold;
//    text-align: center;
//    
//    &__month {
//        
//    }
//    
//    &__day {
//        @include typecsset-font-size($secondary-headline-size, false); 
//        line-height: 100%;
//    }
//}
//
//<div class="calendar-marker">
//  <div class="center-vertically alt center">
//      <div class="calendar-marker__month">Feb</div>
//      <div class="calendar-marker__day">5</div>
//  </div>
//</div>