.footer {
    background-color: $charcoal;
    color: #FFF;
    
    text-align: center;

    &__social {
        margin-bottom: 3rem;
    }
    
    &__logo {
        margin-bottom: 1rem;
    }
    
    .logo--footer {
        height: 85px;
        width: auto;
    }
    
    &__address {
        margin-bottom: 1rem;
    }

    &__navigation {
        margin-bottom: 3rem;
        
        text-align: left;
    }

    &__copyright {
        height: 2em;
    }
}