//**************************************************
// CALL TO ACTION BUTTONS
//**************************************************/
//Color Variants
@mixin cta--red($important: false) {
    $add: "" !default;
    @if $important == true {
        $add: " !important";
    }
    
    background-color: transparentize($red, .2)#{$add};
    border: none#{$add};

    color: #FFF#{$add};

    &:hover,
    &.active {
        background-color: $dark-red#{$add};
        color: #FFF#{$add};
    } 
}

@mixin cta--transparent($important: false) {
    $add: "" !default;
    @if $important == true {
        $add: " !important";
    }
    
    background-color: transparent#{$add};
    border-color: $blue#{$add};

    color: #FFF#{$add};

    &:hover,
    &.active {
        background-color: $blue#{$add};
        color: #FFF#{$add};
    }
    
    &.blue-text {
        color: $blue#{$add};
        
        &:hover,
        &.active {
            color: #FFF#{$add};
        }
    }
}

.cta {
    $border-size: 2px;
    
    @extend .center-vertically;

    border: $border-size solid currentColor;
    border-radius: $border-radius;
    box-sizing: border-box;

    margin-left: auto;
    margin-right: auto;

    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    text-overflow: hidden;
    overflow: hidden;

    height: 3rem !important;
    width: 75%; // !important;

    transition: background-color $transition-length $transition-function,
            color $transition-length $transition-function,
            border-color $transition-length $transition-function;

    @include grid-media-query("portable") {
        width: 100%;
    }
    
    //Size variants
    &.auto {
        display: inline-flex !important;
        margin-left: 0;
        padding: 0 $magic-number;

        width: auto; // !important;
    }

    &.full {
        width: 100% !important;
    }

    & + & {
        margin-left: $magic-number;
    }
    
    //Transparent & Light Gray Sections
    .content-section.transparent &,
    .content-section.light-gray & {
        @include cta--red;
    }
    
    //Image, Light Blue & Footer Sections
    .content-section.image &,
    .content-section.light-blue &,
    footer & {
        @include cta--transparent;
    }
    
    &.red {
        @include cta--red(true);
    }

    &.transparent {
        @include cta--transparent(true);
    }
}

//
//
//.cta {
//    @extend .center-vertically;
//
//    background-color: transparentize($red, .2);
//    border: $dark-red;
//    border-radius: $border-radius;
//    box-sizing: border-box;
//
//    margin-left: auto;
//    margin-right: auto;
//
//    color: #FFF !important;
//    font-weight: bold;
//    text-decoration: none;
//    text-transform: uppercase;
//    white-space: nowrap;
//    text-overflow: hidden;
//    overflow: hidden;
//
//    height: 3em !important;
//    width: 75% !important;
//
//    transition: background-color $transition-length $transition-function,
//                color $transition-length $transition-function,
//                border-color $transition-length $transition-function;
//
//    @include grid-media-query("portable") {
//        width: 100%;
//    }
//    
//    &:hover,
//    &.active {
//        background-color: $dark-red;
//        color: #FFF;
//
//        text-decoration: none;
//    }
//    
//    //Color variants
//    &.translucent {
//        @extend .cta;
//
//        background-color: transparentize($charcoal, .3);
//        border: 2px solid currentColor;
//
//        &:hover,
//        &.active {
//            //background-color: currentColor;
//            border-color: transparentize($charcoal, .3);
//            //color: transparentize($charcoal, .3);
//        }
//    }
//
//    &.transparent {
//        @extend .cta;
//
//        background-color: transparent;
//        border: 2px solid $blue;
//        color: $blue !important;
//
//        &:hover,
//        &.active {
//            background-color: $blue;
//            border-color: $blue;
//            color: #FFF !important;
//        }
//    }
//
//    //Size variants
//    &.auto {
//        display: inline-flex !important;
//        margin-left: 0;
//        padding: 0 $magic-number;
//
//        width: auto !important;
//    }
//    
//    &.full {
//        width: 100% !important;
//    }
//
//    & + & {
//        margin-left: $magic-number;
//    }
//}

//**************************************************
// INPUT
//**************************************************/
input {
    box-sizing: border-box;
    padding: .5em;
    
    font-size: $typecsset-base-font-size;

    height: 100%;
    width: 90%;

    border: 1px solid $charcoal;
    border-radius: 500px;
    
    -webkit-appearance: none;
}

.search-go {
    position: absolute;
    top: 0;
    right: 10%;
    
    cursor: pointer;
    
    height: 100%;
    
    color: $dark-gray;
    
    &:hover {
        color: $black;
    }
}

//**************************************************
// PLACEHOLDER
//**************************************************/
@mixin placeholder-defaults {
    color: $dark-gray;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 200;
}

/* Safari, Chrome and Opera */
::-webkit-input-placeholder {
    @include placeholder-defaults;
}

/* Firefox 18- */
:-moz-placeholder {
    @include placeholder-defaults;
}

/* Firefox 19+ */
::-moz-placeholder {
    @include placeholder-defaults;
}

/* IE 10+ */
:-ms-input-placeholder {
    @include placeholder-defaults;
}

/* Edge */
::-ms-input-placeholder {
    @include placeholder-defaults;
}

/* Default Usage */
:placeholder-shown {
    @include placeholder-defaults;
}

//Fixes
@media screen and (-webkit-min-device-pixal-ratio:0){
    select,
    textarea,
    input {
        font-size: 16px;
    }
}

//**************************************************
// BUTTON
//**************************************************/
button {
    cursor: pointer;
    
    -webkit-appearance: none;
}