//**************************************************
// INPUT
//**************************************************/
input {
    box-sizing: border-box;
    padding: .5em;
    
    font-size: $typecsset-base-font-size;

    height: 100%;
    width: 90%;

    border: 1px solid $charcoal;
    border-radius: 500px;
    
    -webkit-appearance: none;
}

//**************************************************
// PLACEHOLDER
//**************************************************/
@mixin placeholder-defaults {
    color: $dark-gray;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 200;
}

/* Safari, Chrome and Opera */
::-webkit-input-placeholder {
    @include placeholder-defaults;
}

/* Firefox 18- */
:-moz-placeholder {
    @include placeholder-defaults;
}

/* Firefox 19+ */
::-moz-placeholder {
    @include placeholder-defaults;
}

/* IE 10+ */
:-ms-input-placeholder {
    @include placeholder-defaults;
}

/* Edge */
::-ms-input-placeholder {
    @include placeholder-defaults;
}

/* Default Usage */
:placeholder-shown {
    @include placeholder-defaults;
}

//Fixes
@media screen and (-webkit-min-device-pixal-ratio:0){
    select,
    textarea,
    input {
        font-size: 16px;
    }
}