//**************************************************
// CALL TO ACTION BUTTONS
//**************************************************/
.cta {
    $transitionDuration: 250ms;
    $transitionTimingFunction: linear;

    @extend .center-vertically;

    background-color: transparentize($red, .2);
    border: $dark-red;
    border-radius: $border-radius;
    box-sizing: border-box;

    margin-left: auto;
    margin-right: auto;

    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: hidden;
    overflow: hidden;

    height: 3em !important;
    width: 75% !important;

    transition: background-color $transitionDuration $transitionTimingFunction, 
        border-color $transitionDuration $transitionTimingFunction, 
        color $transitionDuration $transitionTimingFunction;

    &:hover {
        background-color: $dark-red;
        color: #FFF;

        text-decoration: none;
    }

    @include grid-media-query("portable") {
        width: 100%;
    }

    //Size variants
    &.auto {
        margin-left: 0;
        padding: 0 $magic-number;

        width: auto !important;
    }

    //Color variants
    &.translucent {
        @extend .cta;

        background-color: transparentize($charcoal, .3);
        border: 2px solid currentColor;

        &:hover {
            background-color: #FFF;
            border-color: #FFF;
            color: transparentize($charcoal, .3);
        }
    }

    &.transparent {
        @extend .cta;

        background-color: transparent;
        border: 2px solid currentColor;
        color: $color-root;

        &:hover {
            background-color: $color-root;
            border-color: $color-root;
            color: #FFF;
        }
    }
}

//**************************************************
// INPUT
//**************************************************/
input {
    box-sizing: border-box;
    padding: .5em;
    
    font-size: $typecsset-base-font-size;

    height: 100%;
    width: 90%;

    border: 1px solid $charcoal;
    border-radius: 500px;
    
    -webkit-appearance: none;
}

.search-go {
    position: relative;
    display: inline-block;
    margin-left: -2em;
    
    cursor: pointer;
    
    height: auto !important;
    
    color: $dark-gray;
    
    &:hover {
        color: $black;
    }
}

//**************************************************
// PLACEHOLDER
//**************************************************/
@mixin placeholder-defaults {
    color: $dark-gray;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 200;
}

/* Safari, Chrome and Opera */
::-webkit-input-placeholder {
    @include placeholder-defaults;
}

/* Firefox 18- */
:-moz-placeholder {
    @include placeholder-defaults;
}

/* Firefox 19+ */
::-moz-placeholder {
    @include placeholder-defaults;
}

/* IE 10+ */
:-ms-input-placeholder {
    @include placeholder-defaults;
}

/* Edge */
::-ms-input-placeholder {
    @include placeholder-defaults;
}

/* Default Usage */
:placeholder-shown {
    @include placeholder-defaults;
}

//Fixes
@media screen and (-webkit-min-device-pixal-ratio:0){
    select,
    textarea,
    input {
        font-size: 16px;
    }
}