//**************************************************
// ADD MARGINS
//**************************************************/
.addBottomMargin,
.add-bottom-margin {
    margin-bottom: $magic-number;
}

.portable--add-bottom-margin {
    @include grid-media-query("portable") {
        margin-bottom: $magic-number;
    }
}

.palm--add-bottom-margin {
    @include grid-media-query("palm") {
        margin-bottom: $magic-number;
    }
}

//**************************************************
// REMOVE BOTTOM MARGIN
//**************************************************/
.no-bottom-margin {
    margin-bottom: 0 !important;
}

//**************************************************
// HEIGHTS
//**************************************************/
.full-height {
    height: 100%;
    min-height: inherit
}

//**************************************************
// CENTER VERTICALLY
//**************************************************/
.center-vertically {
    @include flexbox;
    @include justify-content(center);   //align horizontal
    @include align-items(center);       //align vertical

    height: 100%;
    min-height: inherit;
    
    width: 100%;

    &.left-justify {
        text-align: left;
        @include justify-content(flex-start);

        &--mobile {
            @include grid-media-query("portable") {
                text-align: left;

                @include justify-content(flex-start);
            }
        }
    }

    &.center {
        text-align: center;
        @include justify-content(center);
        @include align-items(center);

        &--mobile {
            @include grid-media-query("portable") {
                text-align: center !important;
                
                @include justify-content(center !important);
            }
        }
    }

    &.right-justify {
        text-align: right;
        @include justify-content(flex-end);

        &--mobile {
            @include grid-media-query("portable") {
                text-align: right;
                
                @include justify-content(flex-end);
            }
        }
    }

    &.alt {
        @include flex-flow(column wrap);
        
        & > * {
            width: 100%;
        }

        &.left-justify {
            @include align-items(flex-start);
            @include justify-content(center);
            
            text-align: left;
        }
    }
}