//**************************************************
// CENTER VERTICALLY
//**************************************************/
.center-vertically {
    @include flexbox;
    @include justify-content(center);   //align horizontal
    @include align-items(center);       //align vertical

    height: 100%;
    width: 100%;

    &.alt {
        @include flex-flow(column wrap);
        @include align-items(flex-start);
    }

    &.left-justify {
        justify-content: flex-start;

        &--mobile {
            @include grid-media-query("portable") {
                @include justify-content(flex-start);
            }
        }
    }

    &.center {
        @include justify-content(center);

        &--mobile {
            @include grid-media-query("portable") {
                @include justify-content(center !important);
            }
        }
    }

    &.right-justify {
        @include justify-content(flex-end);

        &--mobile {
            @include grid-media-query("portable") {
                @include justify-content(flex-end);
            }
        }
    }
}

//**************************************************
// BACKGROUND POSITIONS
//**************************************************/
.bg--center-center {
    background-position: center center;
}