.facebook-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;
    
    &:hover {
        color: $facebook;
    }
}

.twitter-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;
    
    &:hover {
        color: $twitter;
    }
}

.youtube-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;

    &:hover {
        color: $youtube;
    }
}

.vimeo-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;

    &:hover {
        color: $vimeo;
    }
}

.instagram-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;

    &:hover {
        color: $instagram;
    }
}

.google-plus-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;

    &:hover {
        color: $google-plus;
    }
}

.email-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;

    &:hover {
        color: $email;
    }
}