.facebook-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;
    
    &:hover {
        color: $facebook;
    }
}

.twitter-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;
    
    &:hover {
        color: $twitter;
    }
}

.youtube-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;

    &:hover {
        color: $youtube !important;
    }
}

.vimeo-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;

    &:hover {
        color: $vimeo !important;
    }
}

.instagram-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;

    &:hover {
        color: $instagram !important;
    }
}

.google-plus-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;

    &:hover {
        color: $google-plus !important;
    }
}

.email-icon {
    color: currentColor;
    transition: color $transition-length $transition-function;

    &:hover {
        color: $email !important;
    }
}