table {
    
}

.palm--hide-col {
    @include grid-media-query("palm") {
        visibility: collapse;
    }
}

thead,
tbody {
    border-bottom: 2px solid $black;
}

th {
    @extend .accent;
    
    text-align: left;
}

tr {
    border-bottom: 1px solid $light-gray;
}