.#{$ns-background-image}-layover {
    background: none no-repeat center center/contain content-box;
    
    &.left-justify {
        background-position: left center;    
    }
    
    &.right-justify {
        background-position: right center;
    }
}